.flatpickr-day {
    height: 48px;
    line-height: revert;
}
.calendar-event {
    position: absolute;
    bottom: 0.125rem;
    left: 0.75rem;
    background-color: rgba(96, 165, 250, 1);
    width: 0.75rem;
    height: 0.25rem;
    border-radius: 9999px;
}

:root {
    --spacing: 0.25rem;
    --line-height: 1.25;
    --text-decoration: none;
}
.inline,
input.inline {
    display: inline-block;
    width: auto;
    margin: 0;
}
button {
    user-select: none;
    --line-height: 1;
}
section {
    margin-bottom: 0.75rem;
}
article:not(dialog article, footer article) {
    margin: 0.5rem;
}
footer article {
    margin-top: 0px;
    margin-bottom: 0px;
}
header {
    min-height: 34px;
}
article > header {
    margin-bottom: 8px;
}
article {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1.5rem;
}
form {
    margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    --font-weight: 600;
    --font-size: 1rem;
    --typography-spacing-vertical: 1rem;
}
section:last-child {
    margin-bottom: 0px;
}
body {
    margin-top: var(--spacing);
    overscroll-behavior-y: contain;
}
a,
a:link,
a:hover,
a:visited,
a:active {
    color: inherit;
}

.sticky-buttons {
    position: fixed;
    bottom: 5rem;
    right: 8px;
    display: inline-flex;
    gap: 8px;
    margin-right: 8px;
    flex-flow: column;
}
.sticky-buttons > button {
    border-radius: 9999px;
    width: 48px;
    height: 48px;
    display: flex;
    place-content: center;
    align-items: center;
    filter: drop-shadow(0 -0.25rem 0.5rem rgba(0, 0, 0, 0.5));
    border-color: transparent;
}
.secondary {
    background-color: #e35e6c;
    color: white;
}
.secondary:hover {
    background-color: #ff7f89;
}
